@model WebApp.Models.NotaCorretagemViewModel.NotaCorretagemIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Nota de Corretagem</h1>

<p>
    <div class="col-xl-2 col-lg-4">
        @Html.ActionLink("Inserir", "Inserir", "NotaCorretagem", null, new { @class = "btn btn-primary" })
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Contratos Negociados</th>
            <th>Total Líquido</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaNotaCorretagem) {
        <tr>
            <td>
                @Html.ActionLink(item.Data.ToString("dd/MM/yyyy"), "Editar", new { id = item.ID })                
            </td>
            <td>
                @Html.ActionLink(item.ContratosNegociados.ToString(), "Editar", new { id = item.ID})
            </td>
            <td>
                @Html.ActionLink(item.TotalLiquidoNota.ToString(), "Editar", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
