@model IEnumerable<WebApp.Models.NotaCorretagemIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Nota de Corretagem - Listagem</h4>

<p>
    <div class="col-xl-2 col-lg-4">
        @Html.ActionLink("Inserir Nota", "Inserir", "NotaCorretagem", null, new { @class = "btn btn-primary" })
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Data</th>
            <th class="text-right">Contratos Negociados</th>
            <th class="text-right">Líquido (R$)</th>
            <th class="text-right"></th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (NotaCorretagemIndexViewModel item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.ActionLink(item.Data.ToString("dd/MM/yyyy"), "Detalhe", new { id = item.ID })
                </td>
                <td class="text-right">
                    @Html.ActionLink(item.ContratosNegociados.ToString(), "Detalhe", new { id = item.ID })
                </td>
                <td class="text-right">
                    @Html.ActionLink(item.TotalLiquidoNota.ToString(), "Detalhe", new { id = item.ID })
                </td>
                <td class="border-0" style="background-color:@item.Cor"></td>
            </tr>
        }
    </tbody>
</table>
